<h1>About - aka, what is this?</h1>
<p>This is a page full of things that I like. This includes, but is not necessary limited to:<br>
	<ul>
	<li>Music</li>
	<li>Art</li>
	<li>Perfume</li>
	<li>Skincare products</li>
	<li>Health</li>
	<li>Weightlifting and exercise</li>
	<li>Web Development (of course)</li>
	</ul>
	<br>

This page doesn't have any meaning... yet. But it will, once more pages and content get uploaded!<br>
</p>
