<h1>Contact Info</h1>
<h2>Email</h2>
<p>kaylabutler.violin@yahoo.com</p>

<h2>Social Media</h2>
<ul>
<li>Facebook</li>
<li>Instagram</li>
<li>Tumblr</li>
<li>Pinterest</li>
<li>Twitter</li>
</ul>

<br><br>