// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	font-family: Calibri;
	font-weight: bold;
	color: #333333;
	text-alignment: center;
}

.feet {
	background-color: #EEEEEE;
	color: #999999;
	padding: 5px;
	margin-bottom: -142px; 
}